.main {
  position: relative;
  width: 3490px;
  height: 12074px;
  background-color: #23333b;
}

.main .overlap {
  position: absolute;
  width: 1170px;
  height: 1170px;
  top: 10837px;
  left: 439px;
}

.main .ellipse {
  position: absolute;
  width: 251px;
  height: 232px;
  top: 235px;
  left: 698px;
  background-color: #2d4550;
  border-radius: 125.5px/116px;
}

.main .polygon {
  position: absolute;
  width: 244px;
  height: 269px;
  top: 773px;
  left: 199px;
}

.main .mac-perspective {
  width: 1170px;
  top: 0;
  position: absolute;
  height: 1170px;
  left: 0;
}

.main .overlap-group {
  position: absolute;
  width: 3490px;
  height: 6790px;
  top: 0;
  left: 0;
}

.main .sea {
  position: absolute;
  width: 3490px;
  height: 2394px;
  top: 0;
  left: 0;
}

.main .rectangle {
  position: absolute;
  width: 308px;
  height: 132px;
  top: 116px;
  left: 858px;
}

.main .text-wrapper {
  position: absolute;
  top: 153px;
  left: 947px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2.4px;
  line-height: normal;
  white-space: nowrap;
}

.main .div {
  position: absolute;
  width: 334px;
  height: 124px;
  top: 116px;
  left: 2309px;
  background-color: #315b70;
  border-radius: 60px;
}

.main .text-wrapper-2 {
  position: absolute;
  top: 153px;
  left: 2350px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2.4px;
  line-height: normal;
  white-space: nowrap;
}

.main .rectangle-2 {
  position: absolute;
  width: 300px;
  height: 124px;
  top: 116px;
  left: 1342px;
  background-color: #315b70;
  border-radius: 60px;
}

.main .text-wrapper-3 {
  position: absolute;
  top: 153px;
  left: 1413px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2.4px;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-4 {
  position: absolute;
  top: 2120px;
  left: 346px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ff565e;
  font-size: 64px;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .text-wrapper-5 {
  position: absolute;
  top: 2120px;
  left: 2401px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #00d581;
  font-size: 64px;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .line {
  width: 188px;
  top: 2237px;
  left: 2401px;
  position: absolute;
  height: 6px;
}

.main .img {
  width: 188px;
  top: 2237px;
  left: 1368px;
  position: absolute;
  height: 6px;
}

.main .text-wrapper-6 {
  position: absolute;
  top: 1368px;
  left: 339px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 5.76px;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-7 {
  position: absolute;
  top: 1215px;
  left: 339px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 5.76px;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-8 {
  position: absolute;
  top: 1064px;
  left: 1494px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #00d581;
  font-size: 96px;
  letter-spacing: 5.76px;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-9 {
  position: absolute;
  top: 1064px;
  left: 339px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 5.76px;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-10 {
  position: absolute;
  top: 909px;
  left: 339px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 5.76px;
  line-height: normal;
  white-space: nowrap;
}

.main .logo-a-go-blanc {
  position: absolute;
  width: 979px;
  height: 432px;
  top: 981px;
  left: 2176px;
}

.main .image {
  position: absolute;
  width: 3490px;
  height: 4284px;
  top: 2358px;
  left: 0;
  object-fit: cover;
}

.main .kin-s-une-vraie {
  position: absolute;
  width: 1249px;
  top: 3183px;
  left: 1747px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .span {
  font-weight: 800;
}

.main .text-wrapper-11 {
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 2.88px;
}

.main .clubs-sportifs-une {
  position: absolute;
  width: 1249px;
  top: 3459px;
  left: 1743px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .text-wrapper-12 {
  position: absolute;
  top: 2120px;
  left: 1368px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffc000;
  font-size: 64px;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .flexcontainer {
  height: 140px;
  left: 2401px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 798px;
  top: 2287px;
}

.main .text {
  position: relative;
  align-self: stretch;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 54px;
  letter-spacing: 3.24px;
  line-height: normal;
}

.main .text-wrapper-13 {
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 54px;
  letter-spacing: 3.24px;
}

.main .flexcontainer-2 {
  height: 345px;
  left: 1368px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 798px;
  top: 2287px;
}

.main .text-wrapper-14 {
  position: absolute;
  top: 4710px;
  left: 1891px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .ost-opathe-du-sport {
  position: absolute;
  width: 631px;
  top: 4786px;
  left: 1852px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-15 {
  position: absolute;
  top: 4710px;
  left: 1015px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .ing-nieur-EFOL-IA {
  position: absolute;
  top: 4786px;
  left: 990px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .DR-FANCOIS-BAILLY {
  position: absolute;
  top: 6466px;
  left: 69px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .chercheur {
  position: absolute;
  top: 6616px;
  left: 61px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-16 {
  position: absolute;
  top: 5888px;
  left: 2947px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .responsable-des-op {
  position: absolute;
  top: 5964px;
  left: 2792px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-17 {
  position: absolute;
  top: 5888px;
  left: 1929px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .directeur-g-n-ral {
  position: absolute;
  top: 5964px;
  left: 2006px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-18 {
  position: absolute;
  top: 5888px;
  left: 1019px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .chirurgien-orthop {
  position: absolute;
  top: 5964px;
  left: 747px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .ellipse-2 {
  position: absolute;
  width: 299px;
  height: 269px;
  top: 6201px;
  left: 2078px;
  object-fit: cover;
}

.main .ellipse-3 {
  position: absolute;
  width: 299px;
  height: 269px;
  top: 6201px;
  left: 2997px;
  object-fit: cover;
}

.main .ellipse-4 {
  position: absolute;
  width: 299px;
  height: 269px;
  top: 6201px;
  left: 1094px;
  object-fit: cover;
}

.main .ellipse-5 {
  position: absolute;
  width: 299px;
  height: 269px;
  top: 6201px;
  left: 178px;
  object-fit: cover;
}

.main .ellipse-6 {
  position: absolute;
  width: 299px;
  height: 269px;
  top: 5579px;
  left: 2080px;
  object-fit: cover;
}

.main .ellipse-7 {
  position: absolute;
  width: 299px;
  height: 269px;
  top: 5579px;
  left: 2997px;
  object-fit: cover;
}

.main .ellipse-8 {
  position: absolute;
  width: 299px;
  height: 269px;
  top: 5579px;
  left: 1094px;
  object-fit: cover;
}

.main .ellipse-9 {
  position: absolute;
  width: 299px;
  height: 269px;
  top: 5579px;
  left: 178px;
  object-fit: cover;
}

.main .ellipse-10 {
  position: absolute;
  width: 336px;
  height: 330px;
  top: 4326px;
  left: 2001px;
  object-fit: cover;
}

.main .rectangle-3 {
  position: absolute;
  width: 1078px;
  height: 162px;
  top: 5243px;
  left: 208px;
  background-color: #315b70;
  border-radius: 70px;
}

.main .rectangle-4 {
  position: absolute;
  width: 1144px;
  height: 165px;
  top: 5240px;
  left: 2152px;
  background-color: #315b70;
  border-radius: 70px;
}

.main .text-wrapper-19 {
  top: 5289px;
  left: 2323px;
  color: #02d47f;
  font-size: 56px;
  text-align: right;
  letter-spacing: 3.36px;
  position: absolute;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  line-height: normal;
  white-space: nowrap;
}

.main .rectangle-5 {
  position: absolute;
  width: 300px;
  height: 124px;
  top: 116px;
  left: 1812px;
}

.main .text-wrapper-20 {
  top: 5297px;
  left: 357px;
  color: #f8535b;
  font-size: 55px;
  text-align: center;
  letter-spacing: 3.3px;
  position: absolute;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  line-height: normal;
  white-space: nowrap;
}

.main .vector {
  position: absolute;
  width: 1340px;
  height: 1666px;
  top: 2506px;
  left: 0;
}

.main .mac-perspective-v {
  width: 923px;
  top: 2520px;
  position: absolute;
  height: 1170px;
  left: 0;
}

.main .ipad {
  position: absolute;
  width: 1002px;
  height: 524px;
  top: 3074px;
  left: 169px;
  object-fit: cover;
}

.main .text-wrapper-21 {
  position: absolute;
  top: 153px;
  left: 1895px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2.4px;
  line-height: normal;
  white-space: nowrap;
}

.main .rectangle-6 {
  position: absolute;
  width: 666px;
  height: 155px;
  top: 4029px;
  left: 1414px;
}

.main .text-wrapper-22 {
  position: absolute;
  top: 4067px;
  left: 1492px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffb600;
  font-size: 64px;
  text-align: center;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .ellipse-11 {
  position: absolute;
  width: 336px;
  height: 330px;
  top: 4326px;
  left: 1156px;
  object-fit: cover;
}

.main .text-wrapper-23 {
  position: absolute;
  top: 5888px;
  left: 119px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .chercheur-2 {
  position: absolute;
  top: 5964px;
  left: 53px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-24 {
  position: absolute;
  top: 6524px;
  left: 950px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .coordinateur-des {
  position: absolute;
  top: 6600px;
  left: 698px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-25 {
  left: 1934px;
  position: absolute;
  top: 6524px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .directeur-financier {
  position: absolute;
  width: 600px;
  top: 6600px;
  left: 1930px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-26 {
  left: 2936px;
  position: absolute;
  top: 6524px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .directeur-des-op {
  position: absolute;
  top: 6600px;
  left: 2827px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .polygon-2 {
  position: absolute;
  width: 514px;
  height: 706px;
  top: 3218px;
  left: 2976px;
}

.main .fiable-et-rapide {
  position: absolute;
  width: 798px;
  top: 2287px;
  left: 339px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 54px;
  letter-spacing: 3.24px;
  line-height: normal;
}

.main .line-2 {
  width: 188px;
  top: 2237px;
  left: 346px;
  position: absolute;
  height: 6px;
}

.main .chirurgiens-et-d {
  position: absolute;
  width: 1249px;
  top: 2952px;
  left: 1743px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .microprocesseur {
  position: absolute;
  width: 126px;
  height: 99px;
  top: 1998px;
  left: 1368px;
  object-fit: cover;
}

.main .camera {
  position: absolute;
  width: 92px;
  height: 92px;
  top: 2004px;
  left: 346px;
  object-fit: cover;
}

.main .liste-de-choses-a {
  position: absolute;
  width: 107px;
  height: 140px;
  top: 1978px;
  left: 2401px;
  object-fit: cover;
}

.main .rectangle-7 {
  position: absolute;
  width: 771px;
  height: 169px;
  top: 1565px;
  left: 338px;
}

.main .text-wrapper-27 {
  position: absolute;
  width: 663px;
  top: 1610px;
  left: 406px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 3.36px;
  line-height: normal;
}

.main .overlap-2 {
  position: absolute;
  width: 1388px;
  height: 1244px;
  top: 7294px;
  left: 1784px;
  background-image: url(./img/polygon-1.svg);
  background-size: 100% 100%;
}

.main .logo-comete {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 182px;
  left: 92px;
  object-fit: cover;
}

.main .overlap-3 {
  position: absolute;
  width: 945px;
  height: 732px;
  top: 27px;
  left: 346px;
}

.main .overlap-4 {
  position: absolute;
  width: 817px;
  height: 658px;
  top: 74px;
  left: 0;
}

.main .overlap-5 {
  position: absolute;
  width: 326px;
  height: 632px;
  top: 0;
  left: 0;
}

.main .logo-epfl {
  position: absolute;
  width: 316px;
  height: 237px;
  top: 0;
  left: 10px;
  object-fit: cover;
}

.main .servettelogo {
  position: absolute;
  width: 298px;
  height: 473px;
  top: 159px;
  left: 0;
  object-fit: cover;
}

.main .overlap-6 {
  position: absolute;
  width: 518px;
  height: 305px;
  top: 353px;
  left: 299px;
}

.main .logo-le-poool {
  position: absolute;
  width: 418px;
  height: 247px;
  top: 0;
  left: 100px;
  object-fit: cover;
}

.main .emergys-bretagne {
  position: absolute;
  width: 462px;
  height: 90px;
  top: 215px;
  left: 0;
  object-fit: cover;
}

.main .overlap-7 {
  position: absolute;
  width: 619px;
  height: 427px;
  top: 0;
  left: 326px;
}

.main .overlap-8 {
  position: absolute;
  width: 603px;
  height: 378px;
  top: 49px;
  left: 0;
}

.main .logo-inserm {
  position: absolute;
  width: 363px;
  height: 287px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main .logo-bpifrance {
  position: absolute;
  width: 481px;
  height: 116px;
  top: 262px;
  left: 122px;
  object-fit: cover;
}

.main .logo {
  position: absolute;
  width: 256px;
  height: 268px;
  top: 0;
  left: 363px;
  object-fit: cover;
}

.main .logo-deeptech {
  position: absolute;
  width: 344px;
  height: 221px;
  top: 915px;
  left: 691px;
}

.main .logo-rennes-ortho {
  position: absolute;
  width: 320px;
  height: 150px;
  top: 765px;
  left: 556px;
  object-fit: cover;
}

.main .overlap-9 {
  position: absolute;
  width: 2982px;
  height: 1572px;
  top: 8735px;
  left: 371px;
}

.main .overlap-10 {
  position: absolute;
  width: 2982px;
  height: 1572px;
  top: 0;
  left: 0;
}

.main .quotation-mark {
  position: absolute;
  width: 1336px;
  height: 946px;
  top: 0;
  left: 820px;
  object-fit: cover;
}

.main .polygon-3 {
  position: absolute;
  width: 1307px;
  height: 1280px;
  top: 292px;
  left: 0;
}

.main .removal {
  position: absolute;
  width: 964px;
  height: 941px;
  top: 631px;
  left: 201px;
  object-fit: cover;
}

.main .gr-ce-a-go-j-ai-pu {
  position: absolute;
  width: 1724px;
  top: 691px;
  left: 1258px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 75px;
  text-align: center;
  letter-spacing: 4.5px;
  line-height: normal;
}

.main .overlap-11 {
  position: absolute;
  width: 1548px;
  height: 285px;
  top: 1128px;
  left: 1319px;
}

.main .text-wrapper-28 {
  position: absolute;
  width: 1548px;
  top: 0;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #cd980b;
  font-size: 64px;
  text-align: center;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .text-wrapper-29 {
  position: absolute;
  top: 110px;
  left: 297px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .text-wrapper-30 {
  position: absolute;
  top: 7492px;
  left: 653px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffc000;
  font-size: 96px;
  text-align: center;
  letter-spacing: 5.76px;
  line-height: normal;
  white-space: nowrap;
}

.main .text-wrapper-31 {
  position: absolute;
  top: 7510px;
  left: 487px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .de-confiance-qui {
  position: absolute;
  width: 702px;
  top: 7630px;
  left: 653px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 3.84px;
  line-height: normal;
}

.main .overlap-12 {
  position: absolute;
  width: 1028px;
  height: 965px;
  top: 10863px;
  left: 2129px;
  background-color: #2d444f;
  border-radius: 60px;
}

.main .text-wrapper-32 {
  position: absolute;
  top: 53px;
  left: 360px;
  font-family: "Lato", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 54px;
  letter-spacing: 3.24px;
  line-height: normal;
}

.main .text-wrapper-33 {
  position: absolute;
  top: 159px;
  left: 63px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-34 {
  position: absolute;
  top: 159px;
  left: 562px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .adresse-mail {
  position: absolute;
  top: 321px;
  left: 63px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .text-wrapper-35 {
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2.88px;
}

.main .text-wrapper-36 {
  font-size: 54px;
  letter-spacing: 3.24px;
}

.main .text-wrapper-37 {
  position: absolute;
  top: 321px;
  left: 564px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .overlap-13 {
  position: absolute;
  width: 723px;
  height: 130px;
  top: 770px;
  left: 275px;
}

.main .rectangle-8 {
  position: absolute;
  width: 476px;
  height: 130px;
  top: 0;
  left: 0;
}

.main .text-wrapper-38 {
  position: absolute;
  width: 663px;
  top: 42px;
  left: 60px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 2.16px;
  line-height: normal;
}

.main .line-3 {
  width: 903px;
  top: 691px;
  left: 63px;
  position: absolute;
  height: 6px;
}

.main .p {
  position: absolute;
  top: 615px;
  left: 63px;
  font-family: "Lato", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.main .line-4 {
  width: 378px;
  top: 404px;
  left: 63px;
  position: absolute;
  height: 6px;
}

.main .line-5 {
  width: 378px;
  top: 242px;
  left: 562px;
  position: absolute;
  height: 6px;
}

.main .line-6 {
  width: 378px;
  top: 404px;
  left: 562px;
  position: absolute;
  height: 6px;
}

.main .line-7 {
  width: 378px;
  top: 242px;
  left: 63px;
  position: absolute;
  height: 6px;
}
